<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="mt-0">New Expence</h4>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="email">Date </label>
        <input
          type="date"
          class="form-control"
          formControlName="currentDate"
          id="name"
        />
      </div>
      <div class="form-group">
        <label for="email">Expence For <label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Enter expence details"
          id="name"
        />
        <div
          class="text-danger"
          *ngIf="
            myForm.get('name').invalid &&
            (myForm.get('name').dirty || myForm.get('name').touched)
          "
        >
          Please provide a name.
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Cash/Online <label class="text-danger">*</label> </label>
        <select class="form-control" formControlName="type"
        id="type">
          <option value="cash">Cash</option>
          <option value="online">Online</option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            myForm.get('type').invalid &&
            (myForm.get('type').dirty || myForm.get('type').touched)
          "
        >
          Please provide type.
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Amount <label class="text-danger">*</label></label>
        <input
          type="number"
          formControlName="amount"
          class="form-control"
          placeholder="Enter amount"
          id="Number"
        />
        <div
          class="text-danger"
          *ngIf="
            myForm.get('amount').invalid &&
            (myForm.get('amount').dirty || myForm.get('amount').touched)
          "
        >
          Please provide a amount.
        </div>
      </div>
      <button type="submit" class="btn btn-primary"> {{dailyExpenceId == null ? 'Save' : 'Update'}}</button>
      <button type="button" class="btn btn-primary ml-2" routerLink="/cust">
        Cancel
      </button>
    </form>
  </div>
</div>
